SmartH2O_SeeApp/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4962/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmartH2O_Service" />
  <xs:element name="getHourlySummarizedByDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmartH2O_Service" minOccurs="0" name="parameter" type="q1:ParameterType" />
        <xs:element minOccurs="0" name="day" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHourlySummarizedByDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmartH2O_Service" minOccurs="0" name="getHourlySummarizedByDayResult" nillable="true" type="q2:ArrayOfHourlySummarizedValues" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDailySummarizedByDataInterval">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SmartH2O_Service" minOccurs="0" name="parameter" type="q3:ParameterType" />
        <xs:element minOccurs="0" name="startingDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endingDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDailySummarizedByDataIntervalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SmartH2O_Service" minOccurs="0" name="getDailySummarizedByDataIntervalResult" nillable="true" type="q4:ArrayOfDailySummarizedValues" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWeeklySummarizedByDataInterval">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SmartH2O_Service" minOccurs="0" name="parameter" type="q5:ParameterType" />
        <xs:element minOccurs="0" name="weekNumber" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWeeklySummarizedByDataIntervalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SmartH2O_Service" minOccurs="0" name="getWeeklySummarizedByDataIntervalResult" nillable="true" type="q6:ArrayOfWeeklySummarizedValues" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDailyAlarmsInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDailyAlarmsInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SmartH2O_Service" minOccurs="0" name="getDailyAlarmsInformationResult" nillable="true" type="q7:ArrayOfAlarmData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAlarmsInformationByDataInterval">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startingDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endingDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAlarmsInformationByDataIntervalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SmartH2O_Service" minOccurs="0" name="getAlarmsInformationByDataIntervalResult" nillable="true" type="q8:ArrayOfAlarmData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>