SmartH2O_SeeApp/Service References/ServiceReference1/ServiceImplementationSmartH2O.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceImplementationSmartH2O" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4962/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4962/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmartH2O_Service" />
      <xsd:import schemaLocation="http://localhost:4962/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceSmartH2O_getHourlySummarizedByDay_InputMessage">
    <wsdl:part name="parameters" element="tns:getHourlySummarizedByDay" />
  </wsdl:message>
  <wsdl:message name="IServiceSmartH2O_getHourlySummarizedByDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:getHourlySummarizedByDayResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSmartH2O_getHourlySummarizedByDay_FaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/SmartH2O_Service" name="detail" element="q1:Fault" />
  </wsdl:message>
  <wsdl:message name="IServiceSmartH2O_getHourlySummarizedByDay_FoundNoResultsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/SmartH2O_Service" name="detail" element="q2:FoundNoResultsException" />
  </wsdl:message>
  <wsdl:message name="IServiceSmartH2O_getHourlySummarizedByDay_InternalErrorExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/SmartH2O_Service" name="detail" element="q3:InternalErrorException" />
  </wsdl:message>
  <wsdl:message name="IServiceSmartH2O_getHourlySummarizedByDay_FunctionParameterExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/SmartH2O_Service" name="detail" element="q4:FunctionParameterException" />
  </wsdl:message>
  <wsdl:message name="IServiceSmartH2O_getDailySummarizedByDataInterval_InputMessage">
    <wsdl:part name="parameters" element="tns:getDailySummarizedByDataInterval" />
  </wsdl:message>
  <wsdl:message name="IServiceSmartH2O_getDailySummarizedByDataInterval_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDailySummarizedByDataIntervalResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSmartH2O_getDailySummarizedByDataInterval_FoundNoResultsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/SmartH2O_Service" name="detail" element="q5:FoundNoResultsException" />
  </wsdl:message>
  <wsdl:message name="IServiceSmartH2O_getDailySummarizedByDataInterval_InternalErrorExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/SmartH2O_Service" name="detail" element="q6:InternalErrorException" />
  </wsdl:message>
  <wsdl:message name="IServiceSmartH2O_getDailySummarizedByDataInterval_FunctionParameterExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/SmartH2O_Service" name="detail" element="q7:FunctionParameterException" />
  </wsdl:message>
  <wsdl:message name="IServiceSmartH2O_getWeeklySummarized_InputMessage">
    <wsdl:part name="parameters" element="tns:getWeeklySummarized" />
  </wsdl:message>
  <wsdl:message name="IServiceSmartH2O_getWeeklySummarized_OutputMessage">
    <wsdl:part name="parameters" element="tns:getWeeklySummarizedResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSmartH2O_getWeeklySummarized_FoundNoResultsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/SmartH2O_Service" name="detail" element="q8:FoundNoResultsException" />
  </wsdl:message>
  <wsdl:message name="IServiceSmartH2O_getWeeklySummarized_InternalErrorExceptionFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/SmartH2O_Service" name="detail" element="q9:InternalErrorException" />
  </wsdl:message>
  <wsdl:message name="IServiceSmartH2O_getDailyAlarmsInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:getDailyAlarmsInformation" />
  </wsdl:message>
  <wsdl:message name="IServiceSmartH2O_getDailyAlarmsInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDailyAlarmsInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSmartH2O_getDailyAlarmsInformation_FoundNoResultsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/SmartH2O_Service" name="detail" element="q10:FoundNoResultsException" />
  </wsdl:message>
  <wsdl:message name="IServiceSmartH2O_getDailyAlarmsInformation_InternalErrorExceptionFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/SmartH2O_Service" name="detail" element="q11:InternalErrorException" />
  </wsdl:message>
  <wsdl:message name="IServiceSmartH2O_getDailyAlarmsInformation_FunctionParameterExceptionFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/SmartH2O_Service" name="detail" element="q12:FunctionParameterException" />
  </wsdl:message>
  <wsdl:message name="IServiceSmartH2O_getAlarmsInformationByDataInterval_InputMessage">
    <wsdl:part name="parameters" element="tns:getAlarmsInformationByDataInterval" />
  </wsdl:message>
  <wsdl:message name="IServiceSmartH2O_getAlarmsInformationByDataInterval_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAlarmsInformationByDataIntervalResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSmartH2O_getAlarmsInformationByDataInterval_FoundNoResultsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/SmartH2O_Service" name="detail" element="q13:FoundNoResultsException" />
  </wsdl:message>
  <wsdl:message name="IServiceSmartH2O_getAlarmsInformationByDataInterval_InternalErrorExceptionFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/SmartH2O_Service" name="detail" element="q14:InternalErrorException" />
  </wsdl:message>
  <wsdl:message name="IServiceSmartH2O_getAlarmsInformationByDataInterval_FunctionParameterExceptionFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/SmartH2O_Service" name="detail" element="q15:FunctionParameterException" />
  </wsdl:message>
  <wsdl:portType name="IServiceSmartH2O">
    <wsdl:operation name="getHourlySummarizedByDay">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSmartH2O/getHourlySummarizedByDay" message="tns:IServiceSmartH2O_getHourlySummarizedByDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSmartH2O/getHourlySummarizedByDayResponse" message="tns:IServiceSmartH2O_getHourlySummarizedByDay_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceSmartH2O/getHourlySummarizedByDayFaultFault" name="FaultFault" message="tns:IServiceSmartH2O_getHourlySummarizedByDay_FaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceSmartH2O/getHourlySummarizedByDayFoundNoResultsExceptionFault" name="FoundNoResultsExceptionFault" message="tns:IServiceSmartH2O_getHourlySummarizedByDay_FoundNoResultsExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceSmartH2O/getHourlySummarizedByDayInternalErrorExceptionFault" name="InternalErrorExceptionFault" message="tns:IServiceSmartH2O_getHourlySummarizedByDay_InternalErrorExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceSmartH2O/getHourlySummarizedByDayFunctionParameterExceptionFault" name="FunctionParameterExceptionFault" message="tns:IServiceSmartH2O_getHourlySummarizedByDay_FunctionParameterExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDailySummarizedByDataInterval">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSmartH2O/getDailySummarizedByDataInterval" message="tns:IServiceSmartH2O_getDailySummarizedByDataInterval_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSmartH2O/getDailySummarizedByDataIntervalResponse" message="tns:IServiceSmartH2O_getDailySummarizedByDataInterval_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceSmartH2O/getDailySummarizedByDataIntervalFoundNoResultsExceptionFault" name="FoundNoResultsExceptionFault" message="tns:IServiceSmartH2O_getDailySummarizedByDataInterval_FoundNoResultsExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceSmartH2O/getDailySummarizedByDataIntervalInternalErrorExceptionFault" name="InternalErrorExceptionFault" message="tns:IServiceSmartH2O_getDailySummarizedByDataInterval_InternalErrorExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceSmartH2O/getDailySummarizedByDataIntervalFunctionParameterExceptionFault" name="FunctionParameterExceptionFault" message="tns:IServiceSmartH2O_getDailySummarizedByDataInterval_FunctionParameterExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getWeeklySummarized">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSmartH2O/getWeeklySummarized" message="tns:IServiceSmartH2O_getWeeklySummarized_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSmartH2O/getWeeklySummarizedResponse" message="tns:IServiceSmartH2O_getWeeklySummarized_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceSmartH2O/getWeeklySummarizedFoundNoResultsExceptionFault" name="FoundNoResultsExceptionFault" message="tns:IServiceSmartH2O_getWeeklySummarized_FoundNoResultsExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceSmartH2O/getWeeklySummarizedInternalErrorExceptionFault" name="InternalErrorExceptionFault" message="tns:IServiceSmartH2O_getWeeklySummarized_InternalErrorExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDailyAlarmsInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSmartH2O/getDailyAlarmsInformation" message="tns:IServiceSmartH2O_getDailyAlarmsInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSmartH2O/getDailyAlarmsInformationResponse" message="tns:IServiceSmartH2O_getDailyAlarmsInformation_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceSmartH2O/getDailyAlarmsInformationFoundNoResultsExceptionFault" name="FoundNoResultsExceptionFault" message="tns:IServiceSmartH2O_getDailyAlarmsInformation_FoundNoResultsExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceSmartH2O/getDailyAlarmsInformationInternalErrorExceptionFault" name="InternalErrorExceptionFault" message="tns:IServiceSmartH2O_getDailyAlarmsInformation_InternalErrorExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceSmartH2O/getDailyAlarmsInformationFunctionParameterExceptionFault" name="FunctionParameterExceptionFault" message="tns:IServiceSmartH2O_getDailyAlarmsInformation_FunctionParameterExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAlarmsInformationByDataInterval">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSmartH2O/getAlarmsInformationByDataInterval" message="tns:IServiceSmartH2O_getAlarmsInformationByDataInterval_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSmartH2O/getAlarmsInformationByDataIntervalResponse" message="tns:IServiceSmartH2O_getAlarmsInformationByDataInterval_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceSmartH2O/getAlarmsInformationByDataIntervalFoundNoResultsExceptionFault" name="FoundNoResultsExceptionFault" message="tns:IServiceSmartH2O_getAlarmsInformationByDataInterval_FoundNoResultsExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceSmartH2O/getAlarmsInformationByDataIntervalInternalErrorExceptionFault" name="InternalErrorExceptionFault" message="tns:IServiceSmartH2O_getAlarmsInformationByDataInterval_InternalErrorExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceSmartH2O/getAlarmsInformationByDataIntervalFunctionParameterExceptionFault" name="FunctionParameterExceptionFault" message="tns:IServiceSmartH2O_getAlarmsInformationByDataInterval_FunctionParameterExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceSmartH2O" type="tns:IServiceSmartH2O">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getHourlySummarizedByDay">
      <soap:operation soapAction="http://tempuri.org/IServiceSmartH2O/getHourlySummarizedByDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultFault">
        <soap:fault use="literal" name="FaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="FoundNoResultsExceptionFault">
        <soap:fault use="literal" name="FoundNoResultsExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalErrorExceptionFault">
        <soap:fault use="literal" name="InternalErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="FunctionParameterExceptionFault">
        <soap:fault use="literal" name="FunctionParameterExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDailySummarizedByDataInterval">
      <soap:operation soapAction="http://tempuri.org/IServiceSmartH2O/getDailySummarizedByDataInterval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FoundNoResultsExceptionFault">
        <soap:fault use="literal" name="FoundNoResultsExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalErrorExceptionFault">
        <soap:fault use="literal" name="InternalErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="FunctionParameterExceptionFault">
        <soap:fault use="literal" name="FunctionParameterExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getWeeklySummarized">
      <soap:operation soapAction="http://tempuri.org/IServiceSmartH2O/getWeeklySummarized" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FoundNoResultsExceptionFault">
        <soap:fault use="literal" name="FoundNoResultsExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalErrorExceptionFault">
        <soap:fault use="literal" name="InternalErrorExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDailyAlarmsInformation">
      <soap:operation soapAction="http://tempuri.org/IServiceSmartH2O/getDailyAlarmsInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FoundNoResultsExceptionFault">
        <soap:fault use="literal" name="FoundNoResultsExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalErrorExceptionFault">
        <soap:fault use="literal" name="InternalErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="FunctionParameterExceptionFault">
        <soap:fault use="literal" name="FunctionParameterExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAlarmsInformationByDataInterval">
      <soap:operation soapAction="http://tempuri.org/IServiceSmartH2O/getAlarmsInformationByDataInterval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FoundNoResultsExceptionFault">
        <soap:fault use="literal" name="FoundNoResultsExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalErrorExceptionFault">
        <soap:fault use="literal" name="InternalErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="FunctionParameterExceptionFault">
        <soap:fault use="literal" name="FunctionParameterExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceImplementationSmartH2O">
    <wsdl:port name="BasicHttpBinding_IServiceSmartH2O" binding="tns:BasicHttpBinding_IServiceSmartH2O">
      <soap:address location="http://localhost:4962/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>