SmartH2O_SeeApp/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmartH2O_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmartH2O_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="ParameterType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PH" />
      <xs:enumeration value="CI2" />
      <xs:enumeration value="H3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ParameterType" nillable="true" type="tns:ParameterType" />
  <xs:complexType name="ArrayOfHourlySummarizedValues">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HourlySummarizedValues" nillable="true" type="tns:HourlySummarizedValues" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHourlySummarizedValues" nillable="true" type="tns:ArrayOfHourlySummarizedValues" />
  <xs:complexType name="HourlySummarizedValues">
    <xs:sequence>
      <xs:element minOccurs="0" name="Averange" type="xs:float" />
      <xs:element minOccurs="0" name="Hour" type="xs:float" />
      <xs:element minOccurs="0" name="Max" type="xs:float" />
      <xs:element minOccurs="0" name="Min" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HourlySummarizedValues" nillable="true" type="tns:HourlySummarizedValues" />
  <xs:complexType name="ArrayOfAlarmData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlarmData" nillable="true" type="tns:AlarmData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlarmData" nillable="true" type="tns:ArrayOfAlarmData" />
  <xs:complexType name="AlarmData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlarmDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlarmValue" type="xs:float" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ParameterType" type="tns:ParameterType" />
      <xs:element minOccurs="0" name="Parametervalue" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlarmData" nillable="true" type="tns:AlarmData" />
</xs:schema>